footer {
  background-color: var(--primary-color);
}

footer h1 {
  font-size: 1.5rem;
  color: var(--secondary-color);
  border-bottom: 1px var(--secondary-color) solid;
}

footer,
footer a {
  color: var(--white);
}

footer a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

/* Weather */

#temp {
  font-size: 2rem;
}
