:root {
  --primary-color: rgb(32, 32, 32);
  --secondary-color: #b7a15b;
  --white: #fff;
  --black: #000;
}

/* HUSK AT GØR COMPATIBLE MED IE */

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
}
section {
  overflow: hidden;
  position: relative;
}

.wrapper video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -2;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--black);
  opacity: 0.7;
  z-index: -1;
}

.btn {
  background-color: var(--secondary-color) !important;
  color: var(--white) !important;
  text-transform: uppercase;
  padding: 0.7rem 2rem !important;
}

.container > .heading {
  max-height: 0px;
  overflow: hidden;
  transition: 2s;
  z-index: 2;
}
.container > .heading > h1 {
  font-size: 3rem;
}
.container > .heading > p {
  font-size: 1.2rem;
}
.container > .heading.show {
  max-height: 100%;
}

/* Showroom section */

#showroom {
  background-color: var(--primary-color);
}

/* SVGS */

.whiteRectangle {
  position: absolute;
  z-index: -1;
  right: -13rem;
  transform: rotateZ(157deg);
  -ms-transform: rotateZ(157deg);
  -moz-transform: rotateZ(157deg);
  -webkit-transform: rotateZ(157deg);
  fill: var(--white);
}

.blackRectangle {
  position: absolute;
  z-index: 0;
  left: -13rem;
  transform: rotateZ(-157deg);
  -ms-transform: rotateZ(-157deg);
  -moz-transform: rotateZ(-157deg);
  -webkit-transform: rotateZ(-157deg);
  fill: var(--primary-color);
}
