.navbar {
  z-index: 100;
  font-size: 1.5rem;
  transition: 1s;
  background-color: var(--primary-color);
}

.darkMode {
  background-color: var(--primary-color) !important;
}

.navbar-brand img {
  max-width: 100px;
}

@media (min-width: 992px) {
  .navbar {
    background-color: transparent;
  }
}
