:root {
  --primary-color: rgb(58, 58, 58);
  --secondary-color: #b7a15b;
  --black: #000;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  position: relative;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
}
section {
  overflow: hidden;
}

.wrapper video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--black);
  opacity: 0.7;
  z-index: 1;
}

.container > .col-6 {
  max-height: 0px;
  overflow: hidden;
  transition: 2s;
  z-index: 2;
}
.container > .col-6 > h1 {
  font-size: 3rem;
}
.container > .col-6 > p {
  font-size: 1.2rem;
}
.container > .col-6.show {
  max-height: 100%;
}
